/*

    Proyecto: GoRadioHD.com | La verdadera Radio Streaming

    Diseñado y maquetado por: @01Comandos

    Fecha: Enero 2015;

-------------------------------------------------------------------------
-------------------------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

@font-face {
    font-family: 'Bariol';
    src: url('../fonts/Bariol_Regular.otf');
}

@font-face {
    font-family: 'Steiner';
    src: url('../fonts/Steinerlight_0.ttf');
}

@font-face{
    font-family: 'Harabara';
    src: url('../fonts/Harabara.ttf');
}

@font-face{
    font-family: 'Sketchetik';
    src: url('../fonts/Sketchetik.ttf');
}

@font-face{
    font-family: 'Bowhouse';
    src: url('../fonts/Bowhouse-Regular.otf');
}

body{
    font-size: 16px;
}

.zona-principal{
    background: #f3f2f2;
    position: relative;
}

.banner-ppal{
    background: #ffffff;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
    padding: 0;
}

.banner-ppal figure img{
    width: 100%;
}

.logo img{
    margin: 0 auto;
}

.titulo-sociales{
    background: #f95133;
    color: #ffffff;
    display: inline-block;
    font-size: 1em;
    font-family: 'Montserrat';
    padding: 0.5em 0.5em;

    margin-top: 3em;
}

.botones-sociales{
    display: inline-block;
    margin-top: 3.1em;
}

.botones-sociales a{
    margin-left: 0.3em;
}

.botones-sociales a img{
    width: 2.2em;
}

.timeline{
    display: inline-block;
    width: 260px;
    margin-top: 1.5em;
    margin-left: 1em;
}

.fan-page{
    float: left;
    margin-top: 1.5em;
}

.publicidad1-amazon{
    display: inline-block;
    margin-left: 1em;
}

.zona-reproductor{
    background: #e5e5e5;
    padding: 0.5em 0.5em;
    border-bottom: 0.6em solid #f3f2f2;
}

.zona-reproductor iframe{
    border: none;
    padding: 0;
}

.top10-titulo{
    color: #1e1e1e;
    display: block;
    font-size: 4em;
    font-family: 'Montserrat';
    letter-spacing: -4px;
    text-align: center;
    margin-top: 0.4em;
}

#top10-sub{
    display: block;
    font-size: 36px;
    margin-top: -1em;
    margin-bottom: 0.5em;
}

#ranking{
    color: #FFFFFF;
    font-size: 2em;
    font-family: 'Harabara';
    background: rgba(0, 156, 222,0.7);
    padding: 0.3em 0.7em;
    position: absolute;
    top: 0em;
    z-index: 3;
}

#ranking-secundario{
    color: #FFFFFF;
    font-size: 1.5em;
    font-family: 'Harabara';
    background: rgba(0, 156, 222,0.7);
    padding: 0.2em 0.5em;
    position: absolute;
    top: 0em;
    z-index: 3;
}

.cancion{
    display: inline-block;
}

#titulo-cancion{
    color: #000000;
    font-family: 'Harabara';
    font-size: 0.9em;
    margin-top: 0.5em;
}

#artista{
    color: #c32372;
    font-family: 'Roboto Condensed';
    font-size: 0.9em;
    margin-bottom: 1.1em;
    margin-top: -0.7em;
}

.posicion-one,
.posiciones-two-three,
.posiciones-four-five{
    display: inline-block;
    vertical-align: top;
}

.posiciones-two-three,
.posiciones-four-five{
    margin-left: 0.9em;
}

figure.avatar-one img{
    width: 19.1em;
}

figure.avatar-four img,
figure.avatar-five img{
    margin-left: -10px;
}

.avatar-one{
    width: 19.1em;
    height: 19.1em;
    overflow: auto;
}

.avatar-two,
.avatar-three,
.avatar-four,
.avatar-five{
    width: 141px;
    height: 127px;
    overflow: auto;
}

.posicion-one,
.posicion-two,
.posicion-three,
.posicion-four,
.posicion-five{
    position: relative;
}

.avatar-one img,
.avatar-two img,
.avatar-three img,
.avatar-four img,
.avatar-five img{
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;

    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    max-width: 100%;
    
}

.avatar-one img:hover,
.avatar-two img:hover,
.avatar-three img:hover,
.avatar-four img:hover,
.avatar-five img:hover{
    cursor: pointer;
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

.posicion-two,
.posicion-three{
    margin: 0;
}

div#modal-video1,
div#modal-video2,
div#modal-video3,
div#modal-video4,
div#modal-video5{
    background: rgba(45, 44, 44, 0.8);
}

.modal-content{
    height: 315px;
    margin: 10em auto;
    width: 560px;
}

.video-posicion{
    text-align: center;
}

.publi-azul{
    background: #33afef;
    color: #434343;
    font-size: 1em;
    font-family: 'Roboto Condensed';
    height: 16.8em;
    text-align: center;
    margin-bottom: 2em;
}

#publicidad{
    z-index: 3;
    position: relative;
    top: 4.5em;
}

#nube{
    z-index: 2;
    margin-top: -2em;
}

.plusmix{
    text-align: center;
}

.texto-mix{
    background: #eeeeee;
    color: #d6277e;
    font-family: 'Harabara';
    font-size: 1.8em;
    line-height: 1em;
    padding: 0.5em;
}

#email-hola{
    color: #ffffff;
    display: block;
    font-size: 1.2em;
    position: relative;
    top: 6em;
}

.publi-fucsia{
    background: #de0053;
    color: #434343;
    font-size: 1em;
    font-family: 'Roboto Condensed';
    height: 16.8em;
    padding: 0.5em 0.5em;
    text-align: center;
    z-index: 3;
    position: relative;
}

.radio-externa{
    text-align: center;
}

.tunein{
    background: #73cbef;
    padding: 1em 0 0 0;
}

.datos-tunein{
    color: #ffffff;
    font-family: 'Harabara';
    font-size: 2em;
    line-height: 0.8;
    text-align: right;
    text-shadow: 0.891px 0.454px 1px rgba(0, 0, 0, 0.31);
}

.app,
.img-appphone{
    display: inline-block;
    margin-top: -1.2em;
}

.app{
    position: relative;
    text-align: center;
    top: 0.5em;
}

.app a img{
    width: 6em;
}

.img-appphone{
    margin-left: 1em;
    margin-top: -1.9em;
}

.img-appphone img{
    width: 11em;
    height: 6.3em;
}

.contactanos{
    background: #da2585;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


#titulo-contacto {
    text-align: center;
    font-size: 1em;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}

#email {
    text-align: right;
    color: #ffffff;
    font-size: 0.9em;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: -5px;
}

#tlf {
    color: #ffffff;
    font-size: 0.9em;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: -5px;
    text-align: left;
}

footer {
    background: #292929;
    width: 100%;
    bottom: 0;
}

footer h5{
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px;
}

footer h5 a{
    text-decoration: none;
    color: #ffffff;
}



/********************************************************
estilos para el link externo de radios
********************************************************/
.radio-externa{
    background: #00a3e8;
    margin-top: 0.5em;
}


/**** SEGMENTO GOMIX ****/
.gomix{
    text-align:  center;
    padding-top: 2em;
}

.gomix-title h3{
    font-size: 3em;
    font-family: 'Harabara',sans-serif;
    margin: 0;
    padding: 0;
    color: #da2585;
}

.gomix-title p{
    font-size: 1.3em;
    font-family: 'Bariol',sans-serif;
}

.gomix-pack{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 46em;
    margin: 0 auto 2em;
}

.gomix-pack figure{
    width: 50%;
    margin-bottom:  0.5em;
}

.gomix-pack figure img{
    width: 22em;
}





/*******************************************************************
                    MEDIAS QUERIES
*******************************************************************/

/*PHONE SMALL */
@media (max-width: 415px){
    h3{
        margin: 0;
    }

    #logo{
        text-align: center;
        float: none;
        margin: 1em auto 0;
    }

    .botones-sociales{
        text-align: center;
        float: none;
        margin: 1em auto 1em;
        margin-top:  1em !important;
    }

    #email-hola{
        top: 3.5em !important;   
    }

    .tunein {
        padding: 1em;
        text-align: center;
    }

    .datos-tunein{
        color: #373737;
        font-size: 1.5em;
        text-align: center;
    }

    .app{
        margin-top: 1em;
    }

    .img-appphone{
        display: none;
    }

    #email, #tlf {
        text-align: center;
    }

    .gomix-pack{
        width: auto;
        margin: 0 auto;
        padding: 0 0.5em
    }
    
    .gomix-pack figure{
        width: 45%;
    }

    .gomix-pack figure:nth-child(2n){
        margin-left: 0.5em;
    }

    .gomix-pack figure img{
        width: 100%;
    }
}


/* Extra small devices (phones, less than 768px) */
@media (min-width: 416px) and (max-width: 767px){
    #logo{
        text-align: center;
        float: none;
        margin: 1em auto 0;
    }

    .botones-sociales{
        text-align: center;
        margin-bottom: 0.9em;
        margin-top:  1em !important;
    }

    #email-hola{
        top: 3em;
    }   

    .tunein {
        padding: 1em;
        text-align: center;
    }

    .datos-tunein{
        color: #373737;
        font-size: 2.5em;
        text-align: center;
    }

    .app{
        margin-top: 1em;
    }

    .img-appphone{
        display: none;
    }

    #email, #tlf {
        text-align: center;
    }

    .gomix-pack{
        width: auto;
        margin: 0 auto;
        padding: 0 0.5em
    }
    
    .gomix-pack figure{
        width: 45%;
    }

    .gomix-pack figure:nth-child(2n){
        margin-left: 0.5em;
    }

    .gomix-pack figure img{
        width: 100%;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){
    .zona-principal{
        position: relative;
    }

    .clic-banner{
        background: transparent;
        position: absolute;
        top: 0;
        width: 750px;
        height: 112px;
    }

    .banner-ppal{
        padding: 0;
    }

    .banner-ppal object{
        display: block;
        width: 50%;
    }

    .timeline{
        margin-left: -1em;
        width: 230px;
    }

    .publicidad1-amazon{
        display: none;
    }

    .datos-tunein img{
        width: 4em;
        margin-top: -0.5em;
    }

    .datos-tunein{
        font-size: 1.5em;
        margin-bottom: 0.5em;
        margin-top: 0.3em;
    }   

    .app{
        top: 1em;
    }

    .img-appphone{
        display: none;
    }

    #email, #tlf {
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .zona-principal{
        position: relative;
    }

    .clic-banner{
        background: transparent;
        position: absolute;
        top: 0;
        width: 970px;
    }

    .banner-ppal{
        padding: 0;
    }

    .banner-ppal a{
        display: block;
    }

    .banner-ppal object{
        display: block;
        width: 50%;
    }

    .timeline{
        padding-left: 0;
        margin: 0.8em 0 0 0;
    }

    .publicidad1-amazon{
        margin-right: -1em;
        float: right;
    }

    .datos-tunein{
        margin-top: 0.3em;
        font-size: 1.6em;
    }

    .fan-page{
        margin-left: 0;
    }
}




